.container {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(16, 1fr);
}

.div {
    display: grid;
    border: 1px solid;
    background: white;
    padding-bottom: 100%;
    
}

.button {
    display: flex;
    margin-top: 20px;
    padding: 10px;
}
